# .streamlit/secrets.toml
# This file contains the secrets for your Streamlit app when running locally.
# If you deploy to Streamlit Community Cloud, you need to copy these contents 
# into the "Secrets" section of your app's settings on the Streamlit dashboard.

HOPSWORKS_API_KEY = "your-hopsworks-api-key"
HOPSWORKS_HOST = "c.app.hopsworks.ai"
HOPSWORKS_PROJECT = "predicting_aqi"
HOPSWORKS_PORT = 443
